{% set navbar = [
('/', 'Home'),
('/context.html', 'Context'),
('/archive/', 'Archives'),
('/documents/', 'Documents'),
('/sources.html', 'Sources'),
('/map.html', 'Map'),
('/contact.html', 'Contact')
] %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title> The Spanish Civil War's Volunteers {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="Spanish Civil War, SCW, New York City, NYC, researchers, volunteers, {% block keywords %}{% endblock %}">
    <meta name="author" content="Theadora Williams">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if not debug %}<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91850219-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-91850219-3');
    </script>
{% endif %}
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"></script>
    <script src="/js/Common.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous">
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/css/style.css">
{% filter indent(width=4) -%}
{% block head %}{% endblock %}
{% endfilter %}
  </head>
  <body class="bg-light">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light px-0 py-4">
        <a class="text-black h2 mb-0" href="/index.html">NYC's Spanish Civil War Volunteers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            {%- for href, caption in navbar %}
            <a class="nav-item nav-link {% if href == url %}active{% endif %}" href="{{ href }}">{{ caption }}</a>
            {%- endfor %}
	    {% if debug %}
	    <a class="nav-item nav-link {% if '/upload.html' == url %}active{% endif %}" href="/upload.html">Editor</a>
	    {% endif %}
          </div>
        </div>
      </nav>
    </div>
{%- filter indent(width=4) -%}
{% block body %}{% endblock %}
{%- endfilter %}
    <footer>
      <div class="text-center p-2">
        © 2021 Copyright: <a href="https://scwnyc.stuy.edu">scwnyc.stuy.edu<a/>
      </div>
    </footer>
  </body>
</html>

