<!doctype html>
<head>
  {{ ckeditor.load() }}
  <style>
    #the_form {
	width: 100%;
	margin: 0 auto;
	max-width: 1600px;
    }
    table {
	width:100%;
	table-layout: fixed;
    }
    #volunteer_select {
	display: inline-block;
    }
    td > * {
	display: inline-block;
    }
    td {
	text-align: center;
	margin: 0 auto;
	position: relative;
    }
    #iframe_container{
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
	bottom: 0;
	right: 0;
    }

  </style>
  <link rel="stylesheet" href="css/jquery-ui.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script>


    $(document).on("submit", "#main_form", function(event) {
	event.preventDefault(); // to prevent default page reloading
	var empty_fields = false;
	$('input[type=text]').val (function () {
	    return this.value.trim();
	})
	$('input[required]').each(function(){
            if ($(this).val() == ''){
		empty_fields = true;
		return;
            }
        });
	if(empty_fields)
	    return false;
	var getURL = function getUrlVars() {
	    var vars = {};
	    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
		vars[key] = value;
	    });
	    return vars;
	}
	CKEDITOR.instances.ckeditor.updateElement();
        var dataString = $(this).serialize(); // to get the form data
        $.ajax({
	    type: "POST",
	    url: window.location.href,
	    data: dataString,
	    success: function(){
		var d = getURL();
		var val = $('input[name=volunteer_lname]').val() + "_" + $('input[name=volunteer_fname]').val();
		val = val.replace(/ /g, "+");
		if(!d['key'] || (d['key'] != val)){
		    window.location.href = "http://127.0.0.1:5000/?key=" + val;
		}
	    },
	    error: function(e){
		console.log(e);
	    }
        });
    });
    $(document).on("click", "#upload_changes", function(event){
	event.preventDefault();
	$.ajax({
	    type: "POST",
	    url: "/upload_changes",
	    data: {
		action: 'changes_made'
	    },
	    success: function(result) {
		$("#main_form").submit();
		var username = prompt("Please enter your Github username:");
		if(!username)
		    return;
		var password = prompt("Please enter your Github password:");
		if(!password)
		    return;
		$.ajax({
		    type: "POST",
		    url: "/upload_changes",
		    data: {
			action: 'push_changes',
			user: username,
			pass: password
		    },
		    success: function(result) {
			alert("Changes pushed successfully. The live site should update in a few minutes.")
		    },
		    error: function(result) {
			alert('Username or password was incorrect');
		    }
		});
	    },
	    error: function(result) {
		alert('No changes have been made');
	    }
	});
    });
    $(document).on("click", "#delete", function(event){
	event.preventDefault();
	var confirm_delete = confirm("Are you sure you want to delete this volunteer's information?");
	if(confirm_delete){
	    $.ajax({
		type: "POST",
		url: "/delete",
		data: {
		    key: $("#volunteers").val()
		},
		success: function(){
		    $("#volunteers").val("");
		    $("#volunteer_select").submit();
		}
	    })
	}
    });
    $(document).ready(function(){
	$('.form_data').on("propertychange change click keyup input paste", function(){
	    $(this).val(function(){
		return this.value.replace(/(?:^|\s)\w/g, function(match) {
		    return match.toUpperCase();
		})
	    });
	});
    });
    $(document).on("click", "#refresh_preview", function(event){
	$("#main_form").submit();
	$( '#iframe' ).attr( 'src', function ( i, val ) { return val; });

    })
  </script>

  <title>Volunteer Editor</title>
</head>
<body>
  <div id="the_form">
    <form id="volunteer_select" method="GET" action="/">
      <table>
	<tr>
	  <td>
	    <label for="volunteers"><h2>Select Volunteer: </h2></label>
	    <select id="volunteers" name="key" onchange="this.form.submit()">
	      <option value="" default>New Volunteer  </option>
	      {% for k, v in mega_data.iteritems()|sort %}
	      <option value="{{ k }}" {% if key==k %} selected {% endif %}>
		{{v.volunteer_fname ~ " " ~ v.volunteer_lname ~ " --- " ~ v.student_fname ~ " " ~ v.student_lname ~ " - "  ~ v.class }}
	      </option>
	      {% endfor %}
	    </select>
	    {% if key %}
	      <input id="delete" name="delete" value="Delete Volunteer" type="submit"/>
	    {% endif %}
	  </td>
	</tr>
      </table>
    </form>

    <form id="main_form" method="POST" action="" enctype=multipart/form-data>
      <table>
	<tr>
	  <td colspan=2><h2>Student Information</h2></td>
	  <td colspan=2><h2>Volunteer Information</h2></td>
	</tr>
	<tr>
	  <td>First Name:</td>
	  <td><input class="form_data" type="text" name="student_fname" value="{{ data.student_fname }}" required></td>

	  <td>First Name:</td>
	  <td><input class="form_data" type="text" name="volunteer_fname" value="{{ data.volunteer_fname }}" required></td>
	</tr>
	<tr>
	  <td>Last Name:</td>
	  <td><input class="form_data" type="text" name="student_lname" value="{{ data.student_lname }}" required></td>

	  <td>Last Name:</td>
	  <td><input class="form_data" type="text" name="volunteer_lname" value="{{ data.volunteer_lname }}" required></td>
	</tr>
	<tr>
	  <td>Class of:</td>
	  <td><input type="number" name="class" value="{{ data.class }}" required></td>
	</tr>
	<tr>
	  <td><h2>Editor</h2></td>
	  <td>
	    <input type=submit name="submit_type" value="Save Document"/>
	    <button id="upload_changes">Upload Changes</button>
	  </td>
	  <td><h2>Preview</h2></td>
	  <td>
	    <button id="refresh_preview">Refresh Preview</button>
	    <button><a target="_blank" href="http://127.0.0.1:8000/archive/#{{ key }}">Preview On Full Page</a></button>
	  </td>
	</tr>
	<tr>

	  <td colspan=2><textarea name="ckeditor" id="ckeditor">{{ data.data }}</textarea></td>
	  {{ ckeditor.config() }}
	  <td colspan=2>
	    <div id="iframe_container">
	      <iframe id="iframe" src="http://127.0.0.1:8000/archive/#{{ key }}" width="100%" height="100%"></iframe>
	    </div>
	  </td>
	</tr>
      </table>

    </form>
  </div>
</body>
